In [9]:
import pandas as pd
import numpy as np

import pydst
dst = pydst.Dst(lang = 'en')

In [10]:
kont_vars = dst.get_variables(table_id = 'KY038') # 
kont_vars

,id,text,elimination,time,map,values
0,OMRÅDE,region,True,False,denmark_municipality_07,"[{'id': '000', 'text': 'All Denmark'}, {'id': ..."
1,YDELSESTYPE,type of benefits,False,False,NaN,"[{'id': '10000', 'text': 'Social assistance be..."
2,HERKOMST1,national origin,True,False,NaN,"[{'id': 'TOT', 'text': 'Total'}, {'id': '1', '..."
3,HERKOMST,ancestry,True,False,NaN,"[{'id': '00', 'text': 'Total'}, {'id': '10', '..."
4,Tid,time,False,True,NaN,"[{'id': '2007', 'text': '2007'}, {'id': '2008'..."

In [22]:
kont_vars = dst.get_variables(table_id = 'KY038')
for id in ['OMRÅDE','YDELSESTYPE','HERKOMST1','HERKOMST', 'Tid']:
    print(id)
    values = kont_vars.loc[kont_vars.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

OMRÅDE
 id = 000, text = All Denmark
 id = 084, text = Region Hovedstaden
 id = 01, text = Province Byen København
 id = 101, text = Copenhagen
 id = 147, text = Frederiksberg
 id = 155, text = Dragør
 id = 185, text = Tårnby
 id = 02, text = Province Københavns omegn
 id = 165, text = Albertslund
 id = 151, text = Ballerup
 id = 153, text = Brøndby
 id = 157, text = Gentofte
 id = 159, text = Gladsaxe
 id = 161, text = Glostrup
 id = 163, text = Herlev
 id = 167, text = Hvidovre
 id = 169, text = Høje-Taastrup
 id = 183, text = Ishøj
 id = 173, text = Lyngby-Taarbæk
 id = 175, text = Rødovre
 id = 187, text = Vallensbæk
 id = 03, text = Province Nordsjælland
 id = 201, text = Allerød
 id = 240, text = Egedal
 id = 210, text = Fredensborg
 id = 250, text = Frederikssund
 id = 190, text = Furesø
 id = 270, text = Gribskov
 id = 260, text = Halsnæs
 id = 217, text = Helsingør
 id = 219, text = Hillerød
 id = 223, text = Hørsholm
 id = 230, text = Rudersdal
 id = 04, text = Province Bornholm
 id = 400, text = Bornholm
 id = 085, text = Region Sjælland
 id = 05, text = Province Østsjælland
 id = 253, text = Greve
 id = 259, text = Køge
 id = 350, text = Lejre
 id = 265, text = Roskilde
 id = 269, text = Solrød
 id = 06, text = Province Vest- og Sydsjælland
 id = 320, text = Faxe
 id = 376, text = Guldborgsund
 id = 316, text = Holbæk
 id = 326, text = Kalundborg
 id = 360, text = Lolland
 id = 370, text = Næstved
 id = 306, text = Odsherred
 id = 329, text = Ringsted
 id = 330, text = Slagelse
 id = 340, text = Sorø
 id = 336, text = Stevns
 id = 390, text = Vordingborg
 id = 083, text = Region Syddanmark
 id = 07, text = Province Fyn
 id = 420, text = Assens
 id = 430, text = Faaborg-Midtfyn
 id = 440, text = Kerteminde
 id = 482, text = Langeland
 id = 410, text = Middelfart
 id = 480, text = Nordfyns
 id = 450, text = Nyborg
 id = 461, text = Odense
 id = 479, text = Svendborg
 id = 492, text = Ærø
 id = 08, text = Province Sydjylland
 id = 530, text = Billund
 id = 561, text = Esbjerg
 id = 563, text = Fanø
 id = 607, text = Fredericia
 id = 510, text = Haderslev
 id = 621, text = Kolding
 id = 540, text = Sønderborg
 id = 550, text = Tønder
 id = 573, text = Varde
 id = 575, text = Vejen
 id = 630, text = Vejle
 id = 580, text = Aabenraa
 id = 082, text = Region Midtjylland
 id = 09, text = Province Østjylland
 id = 710, text = Favrskov
 id = 766, text = Hedensted
 id = 615, text = Horsens
 id = 707, text = Norddjurs
 id = 727, text = Odder
 id = 730, text = Randers
 id = 741, text = Samsø
 id = 740, text = Silkeborg
 id = 746, text = Skanderborg
 id = 706, text = Syddjurs
 id = 751, text = Aarhus
 id = 10, text = Province Vestjylland
 id = 657, text = Herning
 id = 661, text = Holstebro
 id = 756, text = Ikast-Brande
 id = 665, text = Lemvig
 id = 760, text = Ringkøbing-Skjern
 id = 779, text = Skive
 id = 671, text = Struer
 id = 791, text = Viborg
 id = 081, text = Region Nordjylland
 id = 11, text = Province Nordjylland
 id = 810, text = Brønderslev
 id = 813, text = Frederikshavn
 id = 860, text = Hjørring
 id = 849, text = Jammerbugt
 id = 825, text = Læsø
 id = 846, text = Mariagerfjord
 id = 773, text = Morsø
 id = 840, text = Rebild
 id = 787, text = Thisted
 id = 820, text = Vesthimmerlands
 id = 851, text = Aalborg
 id = 998, text = Unknown municipality
 id = 997, text = Abroad
YDELSESTYPE
 id = 10000, text = Social assistance benefits, total
 id = 10050, text = Recipients of social assistance, total
 id = 10025, text = Educational allowance, total
 id = 10060, text = Wage subsidies for persons receiving social assistance and educational allowance, total
 id = 10070, text = Social assistance and educational allowance  under pre-rehabilitation, total
 id = 10020, text = Social assistance and integration benefits for foreigners and others, total
 id = 10040, text = Rehabilitation benefit, total
 id = 10032, text = Cash benefits, total (October 2015 -)
 id = 10035, text = Labour market allowance, total (Januar 2014 -)
 id = 10030, text = Special educational allowance, total ( -January 2014)
HERKOMST1
 id = TOT, text = Total
 id = 1, text = Persons of Danish origin
 id = 2, text = Western countries
 id = 9, text = Non-western countries
 id = 000, text = National origin, not stated
HERKOMST
 id = 00, text = Total
 id = 10, text = Persons of Danish origin
 id = 20, text = Immigrants
 id = 30, text = Descendants
 id = 40, text = Not stated
Tid
 id = 2007, text = 2007
 id = 2008, text = 2008
 id = 2009, text = 2009
 id = 2010, text = 2010
 id = 2011, text = 2011
 id = 2012, text = 2012
 id = 2013, text = 2013
 id = 2014, text = 2014
 id = 2015, text = 2015
 id = 2016, text = 2016
 id = 2017, text = 2017
 id = 2018, text = 2018

In [32]:

regioner = ['Region Hovedstaden', 'Region Midtjylland', 'Region Nordjylland', 'Region Sjælland', 'Region Syddanmark', 'All Denmark', 'Province Byen København', 'Province Københavns omegn', 'Province Nordsjælland', 'Province Bornholm', 'Province Østsjælland', 'Province Vest- og Sydsjælland', 'Province Sydjylland', 'Province Østjylland','Province Vestjylland', 'Province Nordjylland']

KY = KY038.drop(regioner, axis = 1)



KY038_sort = KY.sort_values(['OMRÅDE', 'TID']) # Sortere på Område og ÅR
KY038_sort.drop(['HERKOMST', 'HERKOMST1'], axis = 1) # Dropper variable 
KY038_sort.reset_index(inplace = True)
KY038_sort.rename(columns = {'OMRÅDE': 'MUNICIPALITY', 'YDELSESTYPE': 'SOCIAL BENEFIT','TID':'YEAR', 'INDHOLD': 'COUNT'}, inplace = True)

KY038_sort

,MUNICIPALITY,SOCIAL BENEFIT,HERKOMST,HERKOMST1,YEAR,COUNT
0,Aabenraa,"Social assistance benefits, total",Total,Total,2007,999
1,Aabenraa,"Social assistance benefits, total",Total,Total,2008,1018
2,Aabenraa,"Social assistance benefits, total",Total,Total,2009,1213
3,Aabenraa,"Social assistance benefits, total",Total,Total,2010,1351
4,Aabenraa,"Social assistance benefits, total",Total,Total,2011,1312
...,...,...,...,...,...,...
1195,Ærø,"Social assistance benefits, total",Total,Total,2014,119
1196,Ærø,"Social assistance benefits, total",Total,Total,2015,114
1197,Ærø,"Social assistance benefits, total",Total,Total,2016,123
1198,Ærø,"Social assistance benefits, total",Total,Total,2017,131
1199,Ærø,"Social assistance benefits, total",Total,Total,2018,117